
<!-- creating Affix navbar
<div class="container-fluid">
    
    <nav data-spy="affix" data-offset-top="655">
    <div class="t2" style="padding: 0px; width: 100%">
        <img class="img-responsive" src="images/logo/nav.svg" style="height:auto;width:70px">Teams
    </div>
    </nav>
</div>
        <br/><br/><br/>
-->
<!--UI for 2015-16 match--->
<div class="container">
<div ng-repeat ="data in epl.rounds15">
   <div ng-repeat ="teams in data.matches">
       <a ng-href="#/match/{{ teams.team1.code }}/{{ teams.team2.code }}/{{ teams.date }}">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			  <div class="about">
              <img ng-src = "images/logo/{{ teams.team1.code}}.png" class="img-responsive img-circle tm-border pull-right" style="height:auto;width:70px">
                  <h6 class="accent">Date:{{ teams.date  }}</h6>
                <h4 class="center-block">{{ teams.team1.name}}</h4>
                 </div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="skills">
               <img ng-src = "images/logo/{{ teams.team2.code}}.png" class="img-responsive img-circle tm-border pull-right" style="height:auto;width:70px">
                <h6 class="accent">Matchday:{{ data.name}}</h6>
                <h4 class="white ">{{ teams.team2.name}}</h4>
         </div>
        </div> 
       </div></a><br/><hr><br/><br/><br/>
      </div>
	</div>
    </div>
<!--Divider-->
<div class="container-fluid">
        <div class="row">
         <div style="background-color:#442260 " id="2016">
         <img class="img-responsive center-block" src="images/logo/logo.jpg" align="middle">
             <h2 class="text-center white">2016-17</h2> 
            </div>   
    </div>

</div>
<!--UI for 2016-17 match--->
<div class="container">
<div ng-repeat ="data in epl.rounds16">
   <div ng-repeat ="teams in data.matches">
       <a ng-href="#/match/{{ teams.team1.code }}/{{ teams.team2.code }}/{{ teams.date }}">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			  <div class="about">
              <img ng-src = "images/logo/{{ teams.team1.code}}.png" class="img-responsive img-circle tm-border pull-right" style="height:auto;width:70px">
                  <h6 class="accent">{{ teams.date  }}</h6>
				<h4 class="center-block">{{ teams.team1.name}}</h4>
                 </div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="skills">
                <img ng-src = "images/logo/{{ teams.team2.code}}.png" class="img-responsive img-circle tm-border pull-right" style="height:auto;width:70px">
                <h6 class="accent">{{ data.name}}</h6>
                 <h4 class="white center-block">{{ teams.team2.name}}</h4>
         </div>
        </div> 
       </div></a><br/><hr><br/><br/><br/>
      </div>
	</div>
</div>



