
<div ng-repeat ="item in epl.rounds">
   <div ng-repeat ="data in item.matches">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="about">
              <h5 class="accent">{{ data.date  }}</h5>
				<h4>{{ data.team1.name}}</h4>
			</div>
		</div>
		<a href='#' ><div class="col-md-6 col-sm-12">
			<div class="skills">
                <h5 class="accent">{{ item.name}}</h5>
                <h4 class="white">{{ data.team2.name}}</h4>
         </div>
        </div> </a>
	   </div><br/><hr><br/><br/><br/>
      </div>
	</div>
