<div class="row" >
    
    <div class="col-xs-12 col-md-12 text-center">
						<h3> {{ mD.matchDay }}</h3>
						<h3> {{ mD.date }}</h3>
                        <br/><br/>
                      
					</div>
    
				<div class="col-xs-5 col-md-5">
				    <div class="about">
					<img ng-src = "images/logo/{{ mD.code1}}.png" class="img-responsive " style="height:auto;width:440px">
						<h5 class="text-center">{{ mD.team1 }}</h5>
						<h5 class="text-center"> Goals : {{ mD.score1 }}</h5>
					</div>
                  </div>
                
						<div class="col-xs-2 col-md-2">
                            <h1 class="text-center center-block">v/s</h1>
                       </div>
					
					<div class="col-xs-5 col-md-5">
                     <div class="skills">
					<img ng-src = "images/logo/{{ mD.code2}}.png" class="img-responsive" style="height:auto;width:440px">
						<h5 class="text-center">{{ mD.team2 }}</h5>
						<h5 class="text-center">Goals : {{ mD.score2 }}</h5>
                        </div>
					</div>
				

				
					<div class="col-xs-12"> 
						<h2 class="text-center">{{ mD.winner }}</h2>
					</div>
					<div class="col-xs-12 text-center" style="margin-top: 15px;">
						<button type="button" class="line-btn big green" ng-click="mD.goBack()">Back to table</button>
					</div>
				  </div>
